<div class="row">
  <br><br><br>
  <div class="cos-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
    <h2> Signup to on demand page </h2>
      <form (ngSubmit)="onSign(f)" #f="ngForm">
          <div class="form-group">
            <label for="email"> Email : </label>
            <input type="email" name="email"
            id="email"
            ngModel
            required
            email
            class="form-control"
            #email="ngModel"
             />
          </div>
          <span class="help-block" *ngIf="!email.touched && email.touched"> Enter Valid Email id </span>
          <span class="help-block"> Enter Valid email id </span>
          <div class="form-group">
              <label for="password"> Password : </label>
              <input type="password" name="password"
              id="password"
              ngModel
              required
              class="form-control"
              #password="ngModel"
               />
            </div>
            <span class="help-block" *ngIf="!password.valid && password.touched"> Enter Valid password </span>
            <button class="btn btn-primary" type="submit">
              Sign Up</button>
        </form>

  </div>
</div>

<!-- Muthu -->


